@import '/_form.scss';
@import '/_variables.scss';
@import '/_customer-ui.scss';

body {
  background-color: $primary-background;
  font-family: 'Open Sans', sans-serif;
}

// #manager-ui {
//   display: none;
// }

nav {
  h1 {
    font-size: 3em;
    margin: 0;
  }

  p {
    font-size: 1em;

    margin: 0 35px;
  }
}

.tabs-nav {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
}

.tabs-nav li {
  width: 50%;
}

a {
  background: #eaeaed;
  border: 1px solid #cecfd5;
  color: $button-blue;
  display: block;
  font-weight: 600;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  &:hover {
    background-color: #0276b0;
    color: white;
  }
}

.tab-active a {
  background: #fff;
  border-bottom-color: transparent;
  color: #1da03a;
  cursor: default;
  text-decoration: none;
}

.ui-datepicker-calendar {
  background: #fff;
}

.room__type,
.room__bidet,
.room__beds {
  text-transform: capitalize;
}

#tabs__main {
  display: flex;
  justify-content: space-around;
  text-align: center;

  .main__label {
    font-size: 1.5em;
    font-weight: 400;
  }

  div p {
    font-size: 1.3em;
  }
}

.guest__billing {
  display: flex;
}